<app-header></app-header>
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Public Blog</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <ng-container *ngIf="(posts$ | async) as posts">
        <div class="blog-post" *ngFor="let post of posts;">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <p class="blog-post-meta">{{ post.created_at | date:'longDate' }} by {{ post.name }}</p>
          <p>{{ post.body }}</p>
          <button type="button" class="btn btn-info" (click)="editPost(post)">
            Edit Post
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
